#footer{
  background-image: url(../../../public/images/Rectangle.jpg);
}

#footer .content_footer{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
    margin: auto;
    padding: 50px;
  }
  
  #footer .content_footer .item_footer p{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    color: #FFFFFF;
    margin-bottom: 5px;
  }
  
  #footer .content_footer .item_footer span{
    font-size: 14px;
    font-weight: 500;
    font-family: 'Quicksand', sans-serif;
    color: #58B59F;
    margin-bottom: 5px;
  }
  
  .logo_wp{
    width: 70px;
    cursor: pointer;
  }

  @media screen and (max-width: 960px) { 
    #footer .content_footer{
      display: block;
    }
  
    #footer .content_footer .item_footer{
      margin-bottom: 15px;
    }
  
    #footer .content_footer .item_footer img{
      margin: 5px 35%;
    } 
  }