@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');

*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  background-image: url(../public/images/Rectangle.jpg);
  background-repeat: no-repeat;
  background-repeat:repeat-x;
}

nav{
  width: 100%;
  height: 72px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 8px;
  font-size: 14px;
  font-family: 'Quicksand', sans-serif;
}

a{
  text-decoration: none;
  color: white;
}

.responsive{
  display: flex;
  align-items: center;
}

.responsive .languages{
  margin: 0 30px;
}

.responsive .items{
  margin-top: 30px;
}

.responsive .items a{
  margin: 20px 20px;
}

.selected,
.responsive .items a:hover {
  border-bottom: 3px solid #92FFE6;
  padding-bottom: 3px;
}


.boton_wp{
  width: 180px;
  height: 49px;
  background-color: #3a7c6e;
  font-weight: 700;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.image_wp{
  width: 20px;
}

nav .languages span{
  margin: 0 15px;
  color: white;
}

nav .languages a:hover{
  text-decoration: underline;
  color: #92FFE6;
}

.titles{
  color: white;
  padding: 30px;
  text-align: center;
}

.titles h3{
  font-size: 30px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 300;
}

.titles h1{
  font-size: 70px;
}

.menu{
  display: none;
  cursor: pointer;
}

.images{
  position: relative;
}

.images #clothe{
  position: absolute;
  max-width: 100%;
  width: 40%;
  margin: 0% 30%;
}

.images #id{
  position: absolute;
  max-width: 100%;
  width: 25%;
  margin: 18% 0;
}

.images #shooting{
  position: absolute;
  max-width: 100%;
  width: 15%;
  margin: 10% 20%;
}

.images #edit{
  position: absolute;
  max-width: 100%;
  width: 15%;
  margin: 25% 40%;
}

.images #inform{
  position: absolute;
  max-width: 100%;
  width: 15%;
  margin: 9% 68%;
}

.images #map{
  position: absolute;
  max-width: 100%;
  width: 25%;
  margin: 15% 75%;
}

.images #key{
  position: absolute;
  max-width: 100%;
  width: 15%;
  margin: 25% 22%;
}

.images #pictures{
  position: absolute;
  max-width: 100%;
  width: 15%;
  margin: 25% 60%;
}

.left{
  position: absolute;
  color: white;
  font-size: 40px;
  margin: 0 15%;
  cursor: pointer;
}

.right{
  position: absolute;
  color: white;
  font-size: 40px;
  margin: 0 85%;
  cursor: pointer;
}

#servicios h1{
  color: black;
  text-align: center;
  font-weight: 800;
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  margin-top: 650px;
}

#servicios hr{
  width: 70%;
  margin: auto;
  margin-top: 5px;
}

.icons{
  display: flex;
  justify-content: center;
  text-align: center;
  margin-top: 30px;
  margin-bottom: 0;
  font-size: 20px;
  color: #727272;
}

.icons svg{
  font-size: 50px;
}

.icons .item{
  margin: 0 50px;
  cursor: pointer;
}

.icons .item:hover{
  color: #3a7c6e;
}

.icons .item p{
  font-weight: 800;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
}

.carrusel{
  display: flex;
  justify-content: center;
}

.carrusel .img_web{
  width: 30%;
  margin: 5% 5% 5% 0;
}

.carrusel .content{
  width: 30%;
  margin: 5% 5% 5% 0; 
}

.carrusel .content h4{
  font-size: 22px;
  font-family: 'Quicksand', sans-serif;
  font-weight: 600;
  margin-bottom: 5%;
}

.carrusel .content p{
  color: #898989;
  font-family: 'Quicksand', sans-serif;
  font-size: 16px;
  font-weight: 500;
}

#equipo{
  background-image: url(../public/images/Rectangle.jpg);
}

.nuestro_equipo{
  display: grid;
  grid-template-columns: 50% 50%;
}

.nuestro_equipo .content_1{
  display: flex;
  position: relative;
}

.nuestro_equipo .content_2{
  display: flex;
}

.nuestro_equipo .content_1 .cohete{
  position: absolute;
  max-width: 100%;
  width: 50%;
  margin: -5% 8%;
}

.nuestro_equipo .content_1 .content_11{
  width: 30%;
  margin: 5% 10% 5% 50%;
}

.nuestro_equipo .content_1 .content_11 h1{
  font-size: 22px;
  font-weight: 600;
  font-family: 'Quicksand', sans-serif;
  color: #92FFE6;
  margin-bottom: 5px;
}

.nuestro_equipo .content_1 .content_11 p{
  font-size: 16px;
  font-weight: 400;
  font-family: 'Quicksand', sans-serif;
  color: #FAFAFA;
  width: 120%;
}

.nuestro_equipo .content_2 .mujer{
  position: absolute;
  max-width: 100%;
  width: 10%;
  margin: 8% 0%;
}

.nuestro_equipo .content_2 .hombre{
  position: absolute;
  max-width: 100%;
  width: 10%;
  margin: 8% 20%;
}

.nuestro_equipo .content_2 ul{
  color: #FAFAFA;
  list-style: none;
  max-width: 100%;
  margin: 5% 18%;
}

.nuestro_equipo .content_2 ul li{
  color: #FAFAFA;
  font-family: 'Quicksand', sans-serif;
  text-align: center;
  margin-bottom: 5px;
}

.nuestro_equipo .content_2 ul #especialistas{
  color: #92FFE6 !important;
  font-weight: 800;
  margin: 20px 0;

}

@media screen and (max-width: 960px) {
  .menu{
    display: flex;
    color: #92FFE6;
    font-size: 40px;
  }

  nav .responsive{
    width: 60%;
    height: 40vh;
    position: absolute;
    top: 8%;
    right: 0;
    transition: 0.5s all ease-in;
    background-color: #142e3d;
    padding: 20px;
    display: block;
    height: 0vh;
    opacity: 0;
    overflow: hidden;
    transition: all .5s ease;
  }

  nav .responsive.isActive{
    height: 42vh;
    opacity: 1;
    z-index: 1;
    padding: 10px;
  }

  .responsive .items a{
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
  }

  .responsive .languages{
    margin-left: 20px;
    margin-bottom: 20px;
  }

  .responsive .boton_wp{
    margin-left: 20px;
    width: 120px;
    height: 35px;
  }

  .responsive .boton_wp a{
    font-size: 12px;
  }

  .image_wp{
    width: 15px;
  }

  .icons{
    display: grid;
    grid-template-columns: 50% 50%
  }

  .carrusel{
    display: block;
    width: 100%;
    margin: 0 15%
  }

  .carrusel .content{
    width: 60%;
  }

  .carrusel .content .boton_wp{
    margin-left: 15%;
  }

  .carrusel .img_web{
    width: 50%;
    margin-left: 10%;
    }

  .nuestro_equipo{
    display: block;
  }

  .nuestro_equipo .content_2{
    margin: 0 15%;
  }

  .nuestro_equipo .content_2 .mujer{
    width: 20%;
    margin: 25% -5%;
  }

  .nuestro_equipo .content_2 .hombre{
    width: 20%;
    margin: 25% 55%;
  }
}

@media screen and (max-width: 510px){
  .titles h3{
    font-size: 15px;
  }

  .titles h1{
    font-size: 50px;
  }

  .nuestro_equipo .content_1 .content_11 p{
    font-size: 12px;
  }
}


